repo = "github.com/jingweno/gh"

[deps.go-octokit]
import = "github.com/jingweno/go-octokit"
commit = "30737cb1e9207e1a7633e3d7539951c5c3d93058"

[deps.go-update]
import = "github.com/inconshreveable/go-update"
commit = "3f0466666779bd2143f368a207b0641f0ed536e8"

[deps.go-shellquote]
import = "github.com/kballard/go-shellquote"
commit = "e842a11b24c6abfb3dd27af69a17f482e4b483c2"

[deps.gopass]
import = "github.com/howeyc/gopass"
commit = "4cf66881dcc3d6f0071eb6473d95c39e460de696"

[deps.pfalg]
import = "github.com/ogier/pflag"
commit = "fc2d9a0ef658fa4e4c319939fd6f4b6becfccb48"

[deps.gotask]
import = "github.com/jingweno/gotask"
branch = "master"

[deps.assert]
import = "github.com/bmizerany/assert"
branch = "master"

[deps.terminal]
import = "code.google.com/p/go.crypto/ssh/terminal"
commit = "6478cc9340cbbe6c04511280c5007722269108e9"
