repo = "github.com/jingweno/gh"

[deps.terminal]
  import = "code.google.com/p/go.crypto/ssh/terminal"
  commit = "6478cc9340cbbe6c04511280c5007722269108e9"

[deps.assert]
  import = "github.com/bmizerany/assert"
  commit = "e17e99893cb6509f428e1728281c2ad60a6b31e3"

[deps.gopass]
  import = "github.com/howeyc/gopass"
  commit = "4cf66881dcc3d6f0071eb6473d95c39e460de696"

[deps.goupdate]
  import = "github.com/inconshreveable/go-update"
  commit = "3f0466666779bd2143f368a207b0641f0ed536e8"

[deps.octokit]
  import = "github.com/octokit/go-octokit"
  commit = "c08264b452c4a2960650be6bf0e33408c62c9bf1"
  source = "https://github.com/octokit/go-octokit"
  scm    = "git"

[deps.shellquote]
  import = "github.com/kballard/go-shellquote"
  commit = "e842a11b24c6abfb3dd27af69a17f482e4b483c2"

[deps.pflag]
  import = "github.com/ogier/pflag"
  commit = "fc2d9a0ef658fa4e4c319939fd6f4b6becfccb48"

[deps.gotask]
  import = "github.com/jingweno/gotask"
  commit = "c0a69414b60023711dbc2c43019c0448781bfd3f"
